.buttonsContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
}

.buttonsContainer > :first-child {
  margin: 15px 15px 15px 15px;
}

.buttonsContainer > :last-child {
  margin: 15px 15px 15px 15px;
}
