.header {
  display: flex;
  align-items: center;
  padding: 10px;
}

.headerNavigation {
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}

.headerLink {
  text-decoration: none;
  color: black;
}
